<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Runity</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css" type="text/css"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.3.1/holder.min.js"></script>-->

    <script src="//runity.disqus.com/embed.js"></script>
    <script src="js/disqus.js"></script>
    <script src="js/models.js"></script>
    <script src="js/router.js"></script>
    <script src="js/views.js"></script>
</head>
<body>
<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Runity: discover and eval your government</a>
        </div>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>
        <a href="#!/data" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-save"></span></a>
    </div>
    <!-- /.container-->
</div>
<!-- /.navbar -->

<div class="container">
    <div id="content-container" class="row"></div>
</div>
<!-- /.container -->
</body>

<script id="employee-template" type="text/template">
    <div class="col-md-offset-2 col-md-8">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <% if (has('photo')) { %>
                    <img src="<%= get(photo) %>" alt="171x180">
                    <% } else { %>
                    <img src="http://img1.wikia.nocookie.net/__cb20081222131347/ru.starwars/images/0/03/Palpatine_Naboo.jpg"
                         alt="171x180">
                    <% } %>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h2><a href="#!/employee/<%= get('id') %>"><%= get('name') %></a><br/>
                            <small><%= get('param2valueAndVersion')['post'][0]['value'] %></small>
                        </h2>
                    </div>
                </div>
                <% for (var attribute in get('param2valueAndVersion')) { %>
                <% if (attribute == 'post') continue; %>
                <% if (get('param2valueAndVersion')[attribute][0]['actual']) {%>
                <div class="row">
                    <div class="col-md-4">
                        <%= attribute %>
                    </div>
                    <div class="col-md-8">
                        <% if (get('param2valueAndVersion')[attribute][0]['actual']) %>
                        <%= get('param2valueAndVersion')[attribute][0]['value'] %>
                    </div>
                </div>
                <% }}; %>
            </div>
        </div>

        <div class="row">
            <div id="disquss" class="col-md-12">
                <div id="disqus_thread"></div>
            </div>
        </div>
    </div>
</script>

<script id="data-template" type="text/template">
    <div class="col-md-offset-2 col-md-8">
        <form method="post" action="/rest/v1/upload/" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                    <div class="columns-names">
                        <div class="form-group">
                            <label for="allColumns">Соотвествующие названия колонок</label>
                            <textarea id="allColumns" name="allColumns" type="text" cols="30" rows="15"
                                      required="required"></textarea>

                            <p class="help-block">Каждая с новой строки. Обязательно присутствие "name". Можно добавить
                                "photo", значения должны быть абсолютными ссылками </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="columns-names">
                        <div class="form-group">
                            <label for="importantColumns">Колонки, которые нужно сохранить</label>
                            <textarea id="importantColumns" name="importantColumns" type="text" cols="30" rows="15"
                                      required="required"></textarea>

                            <p class="help-block">Каждая с новой строки. Обязательно присутствие name</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="columns-names">
                        <div class="form-group">
                            <label for="additionalColumns">Дополнительные одинаковые ключ:значение поля</label>
                            <textarea id="additionalColumns" name="additionalColumns" type="text" cols="30" rows="15"
                                      placeholder="key:value"></textarea>

                            <p class="help-block">Разделение двоеточием, каждая пара с новой строки</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">-->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Тип данных</label>

                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input required="required" name="type" type="radio" id="employee" checked
                                       value="employee">Служащий</input></label>
                            <label class="btn btn-default" disabled>
                                <input type="radio" id="structure" name="type" value="structure">Структура</input>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Описание</label>
                        <textarea id="description" required="required" name="description"
                                  class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="form-group">
                        <label for="author">Автор</label>
                        <input type="text" id="author" name="author" required="required" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="url">Ссылка на источник</label>
                        <input type="text" id="url" name="url" required="required" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="form-group">
                        <label for="day">Дата появления данных</label>
                        <input id="day" type="date" name="date" required="required" class="form-control">
                    </div>
                    <br/>

                    <div class="form-group">
                        <label for="csv">CSV файл данных</label>
                        <input type="file" id="csv" name="csv" required="required" accept=".csv"/>
                    </div>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-5">
                    <button type="submit" class="btn btn-info">Сохранить</button>
                </div>
            </div>
        </form>
        <div id="disquss" class="col-md-12">
            <div id="disqus_thread"></div>
        </div>
    </div>
</script>
</html>